@import "../../../src/index.scss";

.container {
  @include grid-basic($container: true);

  .detailCard {
    @include grid-positioning(2, 12);
    background-color: #ffffff;
    padding: 3.2rem;
    margin-bottom:2rem
  }

  .detailCard__main {
    @include grid-basic(10);

    .detailCard__image {
      @include grid-positioning(1, 8);
      img {
        width: 68rem;
      }

      @media screen and (max-width: 700px) {
        grid-column-end: 11;
        img {
          width: 100%;
        }
    }
    }

    .detailCard__info {
      @include grid-positioning(8, 11);
      .detailCard__info--condition {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
      }
      .detailCard__info--title {
        font-size: 2.4rem;
        margin-bottom: 3.2rem;
      }
      .detailCard__info--price {
        font-size: 4.6rem;
        margin-bottom: 3.2rem;
      }
      .detailCard__info--button {
        background-color: $blue-cta;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        color: #ffffff;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        font-size: 2rem;
      }

      @media screen and (max-width: 700px) {
        grid-column-start: 1;
        text-align: center;
    }
    }
  }

  .detailCard__description {
    @include grid-basic(10);

    .detailCard__description--title {
      @include grid-positioning(1, 12);
      @include grid-positioning-rows(1, auto);
      font-size: 2.8rem;
      margin-bottom: 3.2rem;
    }

    .detailCard__description--text {
      @include grid-positioning-rows(2, auto);
      @include grid-positioning(1, 8);
      font-size: 1.6rem;
      color: $dark-gray;

      @media screen and (max-width: 700px) {
        grid-column-end: 11;
    }
    }
  }
}
