@import "../../../src/index.scss";

.list {
    @include grid-basic($container: true);
    @include grid-basic-rows(2);

    .list__container {
        @include grid-positioning(2, 12);
        @include grid-positioning-rows(2, auto);

        background-color: #FFFFFF;
        padding: $spacing-sm;

        .list__container--divider {
            border-top: 1px solid $light-gray;
            margin-top: $spacing-sm;
            margin-bottom: $spacing-sm;
        }
    }

}
