@import "../../../src/index.scss";

.listItem {
    cursor: pointer;
    @include grid-basic(10);

    
    .listItem__image {
        width: 18rem;
        height: 18rem;
        border-radius: 0.4rem;
        margin-right: 1.6rem;
        grid-column-start: 1;

        @media screen and (max-width: 700px) {
            grid-column-start: 1;
            grid-column-end: 11;
            margin: 0 auto;
        }
    }
    
    .listItem__info-container {
        display: flex;
        grid-column-start: 3;
        grid-column-end: 9;
    }
    .listItem__info{
        .listItem__info--price {
            font-size: 2.4rem;
            margin-bottom: 3.2rem;
            @media screen and (max-width: 700px) {
                text-align: center;
            }
        }

        .listItem__info--title {
            font-size: 1.8rem;
            @media screen and (max-width: 700px) {
                text-align: center;
            }
        }

        .listItem__info--icon {
            margin-left: 1rem;
        }
    }

    .listItem__location {
        grid-column-start: 9;
        grid-column-end: 11;
        @media screen and (max-width: 700px) {
            grid-column-start: 1;
        }

        .listItem__location--city {
            font-size: 1.4rem;
            color: $dark-gray;

            @media screen and (max-width: 700px) {
                text-align: center;
            }
        }
    }
}